# Cache objects
packer_cache/**

# Post compress artifacts
**.box
**.tar.gz
**.checksum

# Output directory of packer
**/qemu/*
**/virtualbox-iso/*

#Other
.vagrant
.DS_Store
Vagrantfile

#SSH Keys
**/packer_key*