Vagrant.configure("2") do |config|
  # Set up your own ssh key
  config.ssh.private_key_path = ~/.ssh/id_ed25519
  config.ssh.forward_agent = true

  # Enable internet access
  config.vm.network "public_network"

  config.vm.synced_folder ".", "/vagrant"
end