install
#Install locally from iso given by packer
cdrom
lang en_US.UTF-8
keyboard us
#Fix VirtualBox Bug
unsupported_hardware
network --bootproto=dhcp
timezone Europe/Amsterdam
selinux --permissive
firewall --enabled --http --ssh --port=443:tcp
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
autopart
#Enable md5 and shadow passwords
auth --useshadow --enablemd5
rootpw --iscrypted $1XAC8Ni/Z5cY
firstboot --disabled
eula --agreed
services --enabled=NetworkManager,sshd
reboot
user --name=vagrant --plaintext --password vagrant --groups=vagrant,wheel

%packages --ignoremissing --excludedocs
@Base
@Core
@Development Tools
sudo
openssh-clients
readline-devel
zlib-devel
kernel-headers
kernel-devel
net-tools
vim
wget
curl
%end

%post
yum -y update

# sudo with vagrant
yum install -y sudo
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

yum clean all
%end